.dialog{
    display: none;

    &.opened{
        display: block;
    }

    &__window{
        inline-size: 100%;
        max-inline-size: 45.625rem;  
        background-color: white;
        block-size: 800px;
        overflow-y: auto;   
        
        &.hide{
            display: none;
        }
    }

    &__mask{
        position: fixed;
        top: 0;
        left: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgba(0,0,0,0.1);

        max-height: 100%;
        overflow-y: initial;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}