.modal{
    inline-size: 100%;
    padding: 3rem;
    display: grid;
    gap: 2rem;

    @include mobile{
        padding: 1.5rem;
    }

    &__cards{
        display: grid;
        gap: 1rem;
    }

    &__card{
        border: 1px solid #E7E7E7;
        border-radius: 5px;

        &:focus-within{
            border: 2px solid var(--Moderate-cyan);
        }
    }

    &__header{
        display: grid;
        gap: 1rem;

        .heading{
            display: flex;
            justify-content: space-between;

            button{
                cursor: pointer;
            }
        }

        h1{
            font-size: 1.5rem;
        }

        p{
            line-height: 30px;
        }
    }

    &__radio{
        padding: 1rem;
        display: flex;
        gap: 1rem;
        align-items: flex-start;

        &-details{
            display: grid;
            gap: 1rem;
        }

        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile{
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }

            h2{
                font-size: 1rem;
                font-weight: 500;
                display: flex;
                gap: 1rem;

                @include mobile{
                    flex-direction: column;
                    align-items: flex-start;
                }   gap: 0.25rem;

                span{
                    color: var(--Moderate-cyan);
                }
            }

            div{
                color: var(--Dark-gray);
                display: flex;
                gap: 0.25rem;
                align-items: center;

            
                span{
                    font-weight: bold;
                    color: black;
                    font-size: 1.125rem;
                }
            }
        }

        &-description{
            font-size: 15px;
            line-height: 30px;
        }
    }

    &__select{  
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem;
        max-height: 0;
        overflow: hidden;
        border-bottom: 1px solid #E7E7E7;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);

        @include mobile{
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
           
            
        }

        &.show{
            padding: 1rem;
            max-height: 100px;
            overflow: auto;
            border-top: 1px solid #E7E7E7;

            @include mobile{
                max-height: 120px;
            }
          
        }

        &-nopledge{
            justify-content: flex-end;
        }

        &-pledge{

            @include mobile{
                margin-left: 2.5rem;
            }
            input{
                block-size: 32px;
                font-size: 1rem;
                padding-inline: 0.5rem;
                border: none;   
            }
        }

        &-submit{
            display: flex;
            gap: 1rem;

            @include mobile{
                box-sizing: border-box;
                margin-left: 2.5rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.small-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 5px;

    inline-size: 540px;
    background-color: white;

    visibility: hidden;

    @include mobile{
        inline-size: 327px;
    }

    &.show-modal{
        visibility: visible;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h2{
            text-align: center;
            font-size: 1.5rem;

            @include mobile{
                font-sie:1.125rem;
            }
        }
        p{
            text-align: center;
            line-height: 30px;
            font-size: 1rem;

            @include mobile{
                font-size: .875rem;
                line-height: 24px;
            }
        }
    }
}